# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Snowflake
.snowflake/
